dist/
extension-dist/
.settings/
.idea/
node_modules/
typings/
tools/common
tools/img
tools/manifest
tools/manifest2
tools/api-manifest/*.json
tools/*.json
tools/*.zip
*.DS_Store
config/dim_travis.rsa
.awcache
cert.pem
key.pem
.brackets.json
.npmrc
npm-debug.log
.nvmrc
