@import '../../scss/variables.scss';

.itemPicker {
  :global(.sheet-contents > div) {
    padding: 8px;
  }
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  :global(.search-filter) {
    flex: 1;
    margin-right: 8px;
    margin-left: 0;
  }
}

.itemTile {
  composes: flexRow from '../dim-ui/common.m.scss';
  padding: 8px;
  width: calc(var(--item-size) * 2);

  :global(.item) {
    flex-shrink: 0;
  }
}
