@import '../../scss/variables.scss';

.itemPicker {
  h1 {
    @include destiny-header;
    font-size: 16px;
    margin: 0 0 8px 0;
    display: block;
  }
  :global(.sheet-contents > div) {
    padding: 8px;
  }
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  :global(.search-filter) {
    flex: 1;
    margin-right: 8px;
    margin-left: 0;
  }
}
