@import '../../scss/variables.scss';

.itemPicker {
  :global(.sheet-contents > div) {
    padding: 8px;
  }
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  :global(.search-filter) {
    flex: 1;
    margin-right: 8px;
    margin-left: 0;
  }
}

.itemTile {
  composes: flexWrap from '../dim-ui/common.m.scss';

  :global(.item) {
    flex-shrink: 0;
  }
}

.itemGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fill, calc(var(--item-size) + 32px));
  grid-gap: 4px;
}
